.content {
	display: flex;
	flex-direction: column;
}

.ef-imgs {
	width: 100%;
	position: relative;
}


#Logo {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding: 60upx 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo {
	display: block;
	width: 30%;
}

.ef-img,
.btn-app-img {
	width: 100%;
	display: block;
}

.btns {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	bottom: 100upx;
	left: 0;
	width: 100%;
}

.btn-app {
	width: 45%;
}

.page-val {
	background: #FFFFFF;
}

.page-val-block {
	padding: 60upx;
}

.val-title {
	font-size: 36upx;
	line-height: 2;
	color: #0fc180;
}

.page-val-flex {
	position: absolute;
	background: none;
	width: 100%;
	left: 0;
	top: 0
}

.val-info {
	padding-bottom: 20upx;
}

.info-row {
	font-size: 24upx;
	color: #333333;
	line-height: 1.4;
}

.val-info-en .info-row {
	font-size: 21upx;
	color: #7c7c7c
}

.page-3-main {
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.page-val-block.page-3 {
	padding: 30upx 60upx;
	width: 60%;
}

.page-3 .info-row {
	line-height: 1.4;
}

.web-link {
	line-height: 3;
	display: block;
	color: #0fc583;
	font-size: 24upx;
	text-decoration: none;
}
.contact-us{}
.copyright {
	/* background: #000000; */
	text-align: center;
}

.crlink {
	display: inline-block;
	color: #939393;
	text-decoration: none;
	line-height: 25px;
}

.about-us {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.us-block {
	display: block;
	color: #333;
	margin: 0 30upx;
	padding: 15upx 0;
}

@media screen and (min-device-width: 1025px) {
	.content {
		width: 1025px;
		margin: 0 auto;
	}

	.page-val-block.page-3 {
		padding: 30px 60px;
	}

	.val-title {
		font-size: 18px;
	}

	.info-row {
		font-size: 16px;
	}

	.val-info-en .info-row {
		font-size: 14px;
	}

	.web-link {
		font-size: 18px;
	}
}
